node_modules
dist
coverage

npm-debug.log
yarn-debug.log
yarn-error.log

.DS_Store
.env
.env.local
.env.development
.env.test
.env.production

.git
.gitignore

coverage
__test__

prisma/database.db
prisma/database.db-journal
